################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShipMank_WPF/ShipMank_WPF/Models/User.cs
